.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
    border: 1px solid;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 50px;
    border-top-left-radius: 15px;
    box-shadow: 3px;
    box-shadow: 10px 10px 5px grey;

}

.registrar{
left:50%;

}

.loginbutton{
    margin:10%;
    display:flex;
}

.login-form-forgot{
   
   position:relative;
    display:flex;
    
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
    float: right;

}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}
#components-form-demo-normal-login .login-form-button {
    width: 100%;
    margin: 10%;
}
