@import '~antd/dist/antd.css';

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.navegacao {
  float: right;
}

.botoes {
  padding-left: 20px;
}

.pesquisar {
  border-left: 1px solid #a1a6a8;
  padding-left: 20px;
  width: 300px;
  margin-top: 15px;
}

footer {
  text-align: 'center';
  bottom: 0;
  width: 100%;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

#root {
  height: 100%;
}

@media only screen and (min-width: 0) and (max-width: 1200px) {
  .pesquisarCol {
    display: none;
  }
}


@media only screen and (min-width: 0) and (max-width: 700px) {
}